.loadshed-entry {
  padding-top: 1px;
  padding-bottom: 1px;
  min-height: 0;
}

.loadshed-entry-content {
  spacing: 6px;
  min-height: 0;
}

.loadshed-entry-icon {
  icon-size: 1em;
}

.loadshed-entry-label {
  padding-top: 0;
  padding-bottom: 0;
}
